<!DOCTYPE html>
<html>
<head>
    <title>DatasetGames - APS 2023 </title>
    <link rel="stylesheet" type="text/css" href=".././static/style.css">
</head>
<body>
    <h1>DatasetGames - APS 2023 </h1>
    
    <button id="getAllGamesButton">Pegar Todos os Jogos</button>
    
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Plataforma</th>
                <th>Gênero</th>
                <th>Editora</th>
                <th>Ano</th>
                <th>Vendas NA</th>
                <th>Vendas EU</th>
                <th>Vendas JP</th>
                <th>Vendas Globais</th>
                <th>Pontuação Crítica</th>
                <th>Pontuação do Usuário</th>
            </tr>
        </thead>
        <tbody id="gameTableBody">
            <!-- Os dados da tabela serão inseridos aqui dinamicamente -->
        </tbody>
    </table>
    
    <script src=".././static/script.js"></script>
</body>
</html>
